<!--
  Selection.html inherits from base.html. Selection.html displays all
  of the user's playlists and let's the user select one playlist. This
  playlist will be the one that will be sorted after clicking the button.
-->
{% extends 'base.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="../static/css/selection.css">
{% endblock %}

{% block script %}
  <script src="../static/js/selection.js" defer></script>
{% endblock %}

{% block title %}
  Spotify Sorter - Selection Page
{% endblock %}

{% block content %}
  {% set display_name = playlists_info['display_name'] %}
  <h2>These are all playlists from <span id="display_name">{{ display_name }}</span>.</h2>
  <p>
    Select the playlist that you would like to sort. Then submit button
    to continue to the sort.
  </p>
  <ul>
    {% for playlist in playlists_info['all_playlists'] %}
      {% set id = playlist['id'] %}
      {% set name = playlist['name'] %}
      {% set image_url = playlist['image']['url'] %}
      <li class="playlist-card" id="{{ id }}">
        <img src="{{ image_url }}" alt="Playlist cover image">
        <p>{{ name }}</p>
      </li>
    {% endfor %}
  </ul>

  <form action="{{ url_for('selection.selection_page') }}" method="POST">
    <input type="hidden" id="selected-playlist" name="selected_playlist" required>
    <input id="next-btn" class="button button-disabled" type="submit" value="Next" disabled>
  </form>
{% endblock %}